
.DS_Store
__pycache__
secure_note.spec
secure_note.pyc
secure_note.pyo
secure_note.pyd
secure_note.pyw
secure_note.pyz
secure_note.py
/dist
/build
/venv
/env
/.env
/.venv
secure-note.spec
uninstall-secure-note.spec
